* {
    box-sizing: border-box;
}

/* force scrollbar */
html { overflow-y: scroll; }

body {
    background: #f8f8ff;
    font-family: "Helvetica Neue", sans-serif;
    font-size: x-large;
    color: #a9a9a9;
}

img.mini {
    box-sizing: border-box;
    padding: 2px;
    border-radius: 5px;
}

/*Image shadow */
.grid-item{
    position: relative;
    overflow: hidden;
}

.grid-item:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: 5px;
    box-shadow: 0 0 30px 30px rgba(152, 134, 86, 0.5) inset;
}

/*image card*/
.grid-item{
    padding: 5px;
    border-radius: 5px;
}


div#header{
    font-size: xx-large;
    text-align: center;
    background: #444444;
    padding: 10px;
    border-radius: 1em;
    margin: 10px;
}

div#dirs, div#images{
    display: inline-block;
}

div#dirs{
    width: 20%;
    vertical-align: top;
    padding-top: 10px;

}

div#dirs div{
    border: solid 2px #cccccc;
    border-radius: 0.5em;
    margin-bottom: 2px;
    padding: 2px 10px;
    cursor: pointer;
    word-break: break-all;
}


div#dirs div:hover{
    border: solid 2px #a0a0a0;
    background-color: #e8e8e8;
}

div#images{
    width: 77%;
    padding-left: 10px;
    border-left: solid 2px #444444;

}